pygithub
pytest
pytest-benchmark
pytest-cov
pytest-mock
pytest-sugar
pytest-click
pysnooper
mock
wheel
pylint
isort
flake8
flake8-bugbear
pip-tools
black
tox
requests
spacy-transformers
jupyterlab
ipywidgets
